---
import { slugify } from "../helpers/helpers";
import { getLanguageFromUrl, useTranslations } from "../i18n/utils";
import Link from "../components/navItem.astro";
import { createEdgepressContent } from "../utils/api";

const content = createEdgepressContent(Astro.locals, {
  baseUrl: Astro.url.origin,
});

type DiretorItem = {
  title: string;
  slug: string;
  link: string;
};

type JobCategory = {
  name: string;
  slug: string;
  url: string;
};

const { id, posttype } = Astro.props;
const { slug } = Astro.params;
const lang = getLanguageFromUrl(Astro.url);
const t = useTranslations(lang);
let jobCategories: JobCategory[] = [];
let diretores: DiretorItem[] = [];
if (posttype == "diretores") {
  const { items } = await content.getListWithDetails("posts", {
    query: {
      filter_post_type: "equipe",
      page: 1,
      limit: 100,
    },
  });
  /**
   * Filtra os diretores
   */
  diretores = items
    .filter((item) => {
      const customFields = Array.isArray(item.custom_fields)
        ? item.custom_fields
        : [];
      return customFields.some((field: Record<string, unknown>) => {
        const slug = (field as { slug?: string }).slug ?? "";
        if (!slug.includes("controle-layout")) return false;
        const fields = Array.isArray((field as { fields?: unknown[] }).fields)
          ? (field as { fields: unknown[] }).fields
          : [];
        return fields.some((f) => {
          const field = f as Record<string, unknown>;
          return (
            (field as { name?: string }).name === "diretor" &&
            (field as { value?: string }).value === "S"
          );
        });
      });
    })
    .map((item) => {
      const basePath = lang !== "br" ? `/${lang}` : "";
      return {
        title: item.title,
        slug: item.slug,
        link: `${basePath}/${t("pageDiretor")}/${item.slug}`,
      };
    });
} else if (posttype == "jobs") {
  const taxonomies = await content.getTaxonomies("post", "category");
  const items =
    Array.isArray(taxonomies.items) && taxonomies.items.length > 0
      ? taxonomies.items
      : [];
  const mappedItems: JobCategory[] = items
    .filter((item: { name?: string }) => item.name !== "Uncategorized")
    .map((item: { name: string; slug: string }) => ({
      name: item.name,
      slug: item.slug,
      url: item.slug,
    }));
  jobCategories = [
    { name: "TODOS", slug: "todos", url: "" },
    ...mappedItems,
  ];
}

function isAllLabel(name: string | undefined) {
  return name === "TODOS" || name === "ALL";
}

function isActive(sub: JobCategory) {
  const base = sub.slug || sub.name;
  if (
    slugify(base) === slug ||
    (isAllLabel(sub.name) && slug === undefined)
  ) {
    return true;
  }
  return false;
}

function transformLink(sub: JobCategory) {
  if (isAllLabel(sub.name)) {
    return "";
  }
  const base = sub.slug || sub.name;
  return slugify(base);
}
---

<style lang="scss">
  .submenu {
    max-height: 100%;

    ul {
      max-width: 1440px;
    }

    &.hide {
      max-height: 0;
      overflow: hidden;
    }
  }
</style>

<nav id={id} class="submenu hide">
  <ul style="justify-content: center">
    {
      diretores.length > 0
        ? diretores.map((diretor: DiretorItem) => (
            <Link label={diretor.title} url={diretor.link} />
          ))
        : ""
    }
    {
      jobCategories.length > 0
        ? jobCategories.map((sub: JobCategory) => (
            <Link
              label={sub.name}
              url={t("pagesJob") + "/" + transformLink(sub)}
              active={isActive(sub)}
            />
          ))
        : ""
    }
  </ul>

  <style is:global lang="scss">
    .edgtf-main-menu .submenu {
      display: flex;
      justify-content: center;
      position: fixed;
      left: 0;
      margin: 0;
      width: 100%;

      ul {
        margin: 0 2%;
        position: relative;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 1025px) and (max-width: 1509px) {
          flex-basis: 100%;
        }

        li {
          @media screen and (max-width: 1024px) {
            &.edgtf-active-item a {
              color: #545454 !important;
            }
          }
          @media screen and (min-width: 1025px) and (max-width: 1439px) {
            display: flex;
            min-height: 30px;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            margin-right: 5px;
            // &.edgtf-active-item {
            //   display: none;
            // }
            a {
              line-height: 1.5;
              min-height: 32px !important;
              font-size: 10px;
            }
          }
          @media screen and (min-width: 1025px) {
            border: solid 1px #fff;
            border-radius: 20px;
            min-width: 100px;
            margin-left: 0.2rem;
            margin-right: 0.2rem;
            &:hover {
              background-color: #000;
              color: #fff;
              a,
              span {
                color: #fff;
              }
              .item_text {
                color: #fff !important;
              }
            }
          }
          a {
            display: block;
            text-align: center;
            padding: 0 2em;
            color: inherit;
            &:hover {
              span {
                color: #fff;
              }
            }
            .item_text {
              letter-spacing: 1px;
            }
            @media screen and (min-width: 1025px) {
              display: flex;
              height: 100%;
              align-items: center;
              justify-content: center;
              line-height: 1.5;
              min-height: 32px;
              vertical-align: middle;
            }
          }
        }
      }
    }
    @media screen and (min-width: 1024px) {
      .edgtf-main-menu .submenu.hide {
        display: none;
      }
      // Fundo Branco
      .edgtf-fixed-wrapper.fixed {
        .submenu {
          padding-bottom: 1em;
          padding-top: 1em;
          margin-top: -1em;
          background-color: #fff;
          ul {
            li {
              border-color: #000;
              a {
                .item_text {
                  color: #000;
                }
                &:hover {
                  .item_text {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
      // Fundo Verde
      .trabalhos .submenu,
      .trabalhos .edgtf-fixed-wrapper.fixed .submenu,
      .jobs .submenu,
      .jobs .edgtf-fixed-wrapper.fixed .submenu {
        padding-bottom: 1em;
        padding-top: 1em;
        margin-top: -1em;
        background: rgba(2, 195, 204, 1);
        ul {
          li {
            border-color: #fff;
            &:hover {
              background: #fff;
              .item_text {
                color: #000 !important;
              }
            }
            a {
              min-height: 32px;
              .item_outer {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
              }
              .item_text {
                color: #fff;
              }
              &:hover {
                .item_text {
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  </style>
</nav>
