---
interface Props {
  name: string;
  job: string;
  image?: string;
  imagepr: any;
  founder?: boolean;
  socials?: Array<string>;
}
import { Image } from "astro:assets";
import Logos from "./icons.astro";
let { name, job, image, founder, socials, imagepr } = Astro.props;
let founderCss = founder ? "founder-item" : "";
---

<style>
  @media all and (min-width: 500px) and (max-width: 1024px) {
    .edgtf-team-holder {
      /* margin: 0 0 0; */
      flex-basis: 33%;
    }
    .edgtf-team-inner {
      padding: 10px;
    }
  }
  @media all and (max-width: 1024px) {
    .founder-item:not(:first-child) {
      margin-top: 2rem;
    }
  }
  @media all and (min-width: 1025px) {
    .edgtf-team-holder {
      flex-basis: 49%;
    }
    .edgtf-team-holder.founder-item {
      margin: 0 0 0;
      flex-basis: 32%;
    }
    .edgtf-team-inner {
      padding: 0;
    }
  }
  /**  */
</style>

<div class={`edgtf-column-content edgtf-grid-col-4 ${founderCss}`}>
  <div class="edgtf-team-info-on-image edgtf-team-holder">
    <div class="edgtf-team-image">
      <Image
        src={imagepr ? imagepr : image}
        format="avif"
        widths={[150, 300, 550, 720]}
        sizes={`"(max-width: 150w) 150px,(max-width: 300w) 300px,(max-width: 550w) 550px,(max-width: 720w) 720px" `}
        alt={`Foto de ${name}`}
        width="720"
        height="720"
      />
      <div class="edgtf-team-social-wrapper">
        <div class="edgtf-team-social-outer">
          <div class="edgtf-team-social-inner">
            {
              founder ? (
                <div class="edgtf-team-social-holder">
                  {socials
                    ? socials.map((social) => {
                        let socialIcon;
                        if (social.includes("linkedin")) {
                          socialIcon = "linkedin";
                        } else if (social.includes("instagram")) {
                          socialIcon = "instagram";
                        } else if (social.includes("twitter")) {
                          socialIcon = "twitter";
                        }
                        return (
                          <span class="edgtf-team-icon">
                            <span class="edgtf-icon-shortcode edgtf-normal">
                              <a class="" href={social} target="_blank">
                                <Logos color="#fff" social={socialIcon} />
                              </a>
                            </span>
                          </span>
                        );
                      })
                    : ""}
                </div>
              ) : (
                <>
                  <h5 class="edgtf-team-name" style="color: #F0F0F0">
                    {name}
                  </h5>
                  <p class="edgtf-team-position" style="color: #F0F0F0">
                    {job}
                  </p>
                  <div class="edgtf-team-social-holder">
                    <span class="edgtf-team-icon">
                      <span class="edgtf-icon-shortcode edgtf-normal"> </span>
                    </span>
                  </div>
                </>
              )
            }
          </div>
        </div>
      </div>
    </div>
    {
      founder ? (
        <div class="edgtf-team-info">
          <h5 class="edgtf-team-name" style="color: #F0F0F0">
            {name}
          </h5>
          <p class="edgtf-team-position" style="color: #F0F0F0">
            {job}
          </p>
        </div>
      ) : (
        ""
      )
    }
  </div>
</div>
