---
import Layout from "../../layouts/default.astro";
import { getLanguageFromUrl, useTranslations } from "../../i18n/utils";
import { GetDiretores, directorSlug, postThumbnailUrl } from "../../helpers/helpers";
import { themeRouteParam, themeRedirect } from "../../helpers/route";
import { Image, Picture } from "astro:assets";
import Icons from "../../components/icons.astro";
import { Vimeo } from "@astro-community/astro-embed-vimeo";
const name = themeRouteParam(Astro, "name");
const lang = getLanguageFromUrl(Astro.url);
const t = useTranslations(lang);

if (!name) {
  return themeRedirect(lang === "br" ? "/diretores" : "/en/directors");
}

let posts = await GetDiretores(lang);
const post = posts.find(
  (item: any) =>
    directorSlug(item) === name ||
    item.slug === name ||
    String(item.slug).startsWith(`${name}-`) ||
    String(item.slug).replace(/-(pt-br|en-us)$/i, "") === name,
);
if (!post) {
  return themeRedirect(lang === "br" ? "/diretores" : "/en/directors");
}
const page = "diretores";
let bannerReel: string | undefined;
if (typeof post.reel === "string" && post.reel.trim()) {
  bannerReel = post.reel.trim();
} else if (Array.isArray(post.reel) && post.reel[0]) {
  bannerReel = String(post.reel[0]);
}

const bunnyReelPattern =
  /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;
const vimeoReelPattern =
  /(?:^|\/)vimeo\.com\/(?:video\/|channels\/[^/]+\/|groups\/[^/]+\/videos\/|album\/\d+\/video\/|)(\d+)/i;

function isBunnyReelId(value: string | undefined): boolean {
  return Boolean(value && bunnyReelPattern.test(value));
}

function isVimeoReel(value: string | undefined): boolean {
  if (!value) return false;
  if (/^\d+$/.test(value)) return true;
  return value.includes("vimeo") || vimeoReelPattern.test(value);
}

const reelIsBunny = isBunnyReelId(bannerReel);
const reelIsVimeo = !reelIsBunny && isVimeoReel(bannerReel);
if (typeof post.socialMedia === "string") {
  try {
    post.socialMedia = JSON.parse(post.socialMedia);
  } catch {
    post.socialMedia = [];
  }
}
const linkVimeo = post?.socialMedia
  ? post.socialMedia.find((p: any) => p.includes("vimeo"))
  : "#";
const directorImage = postThumbnailUrl(post);
---

<style is:global>
  .diretores .edgtf-page-header .edgtf-menu-area {
    background-color: transparent;
  }
  .reel-wrapper lite-vimeo {
    height: 100%;
    width: 100%;
  }
  .reel-wrapper .reel-vimeo {
    width: 100%;
  }
  #video > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
  }
  .diretor-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    text-transform: uppercase; 
    width: 50px; 
    height: 50px;

    border: solid 1px #fff;
    border-radius: 50%;
    
    svg {
      height: 40px;
      width: 50px;
    }
  }
</style>

<style lang="scss">
  .firstfold {
    @media screen and (min-width: 0) {
      padding: 5rem 2rem;
      h3 {
        max-width: 650px;

        color: #fff;
        font-size: 180%;
        line-height: 1.2;
        letter-spacing: normal;
        word-wrap: break-word;
      }
      span {
        color: #01c3cc;
      }
      article {
        margin-top: 3rem;
      }
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      max-width: 1080px;
      padding: 0;
      margin: 3rem auto;

      h3,
      article {
        flex-basis: 50%;
      }

      h3 {
        font-size: 60px;
        text-align: right;
      }

      article {
        margin-left: 80px;
        margin-top: 0;
        // font-size: 19px;
      }
    }
    .logo {
      display: block;
      max-width: 300px;
      height: 125px;
      overflow: hidden;
      text-indent: -100vw;
      width: 100%;

      background-image: var(--bgImage);
      background-size: cover;
      background-repeat: no-repeat;
    }
    small {
      font-size: 1rem;
    }
    article {
      color: #fff;
    }
  }
  .reel-wrapper {
    position: relative;
    width: 100%;

    background-color: #01c3cc;
    color: #fff;
    text-align: center;

    h1 {
      display: none;
      color: inherit;
    }

    iframe {
      position: absolute;
      width: 100%;
      max-width: none;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  .sm-wrapper {
    display: flex;
    list-style-type: none;
    li:not(:last-child) {
      padding-right: 1rem;
    }
  }
  .xs1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .image--cover {
    display: block;
    width: 100%;
  }
  .image--wrapper {
    height: 100%;
    max-height: 520px;
    overflow: hidden;
  }
  .text-justify {
    text-align: justify;
  }
</style>

<Layout page={page}>
  <section class="reel-wrapper">
    <h1>{post.title}</h1>
      {
        reelIsBunny && bannerReel ? (
          <div id="video" style="position: relative; padding-top: 56.25%;">
            <a href={linkVimeo} target={linkVimeo ? "_blank" : ""}>
            <iframe
              src={`https://iframe.mediadelivery.net/embed/203455/${bannerReel}?autoplay=true&loop=true&muted=true&preload=true&responsive=true`}
              loading="lazy"
              style="border:0;top:0;height:100%;width:100%;"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            />
            </a>
          </div>
        ) : reelIsVimeo && bannerReel ? (
          <div class="reel-vimeo">
            <Vimeo
              id={bannerReel}
              params="loop=1&muted=1&background=1&autopause=0"
            />
          </div>
        ) : (
          ""
        )
      }
      {
        !bannerReel && post?.images && post.images.length > 0 ? (
          <a href={linkVimeo} target={linkVimeo ? "_blank" : ""}>
            <Picture
              class="image--cover"
              src={post.images[0]}
              alt=""
              width={1280}
              height={768}
            />
          </a>
        ) : (
          ""
        )
      }
  </section>
  {
    reelIsVimeo ? (
      <script is:inline>
        customElements.whenDefined("lite-vimeo").then(() => {
          const reel = document.querySelector(".reel-wrapper lite-vimeo");
          reel?.click();
        });
      </script>
    ) : null
  }
  <section class="firstfold">
    <h3 class="image--wrapper">
      {directorImage ? (
        <Image src={directorImage} alt={post.title} width="500" height="300" />
      ) : null}
    </h3>
    <article class="xs1">
      <div class="text-justify" set:html={post?.body ?? ""} />
      <ul class="sm-wrapper">
        {
          post.socialMedia ? post.socialMedia.map((sm: any) => (
            <li>
              <a href={sm} class="diretor-social-link" style="">
                <Icons
                  color="#fff"
                  social={sm
                    .match(/^(?:https?:\/\/)?(?:www\.)?([^\/]+)/)[1]
                    .split(".")[0]
                    .toLowerCase()}
                />
              </a>
            </li>
          )) : ""
        }
      </ul>
    </article>
  </section>
</Layout>
