---
import { getLanguageFromUrl, portfolioBasePath, useTranslations } from "../i18n/utils";
import { GetContent, slugify } from "../helpers/helpers";
const lang = getLanguageFromUrl(Astro.url);
const t = useTranslations(lang);
const portfolioPrefix = portfolioBasePath(lang);
const { postId } = Astro.props;
const posts = await GetContent(lang, "jobs", {
  sortBy: "createdOn",
  sortDirection: "desc",
});
const currentPostId = posts.findIndex((post: any) => post.id === postId);
let prevPost;
let nextPost;
let prevPostUrl;
let prevPostLabel;
let prevImage;
let nextPostUrl;
let nextPostLabel;
let nextImage;
if (currentPostId > 0) {
  //
  prevPost = posts[currentPostId - 1];
  nextPost = posts[currentPostId + 1];
  //
  prevPostUrl = slugify(prevPost.title);
  prevPostLabel = prevPost.title;
  prevImage = `url(${prevPost.image})`;
  //
  nextPostUrl = slugify(nextPost.title);
  nextPostLabel = nextPost.title;
  nextImage = `url(${nextPost.image})`;
}
---

<style lang="scss" define:vars={{ prevImage, nextImage }}>
  @media screen and (max-width: 1024px) {
    .pagination--wrapper {
      justify-content: space-evenly;
    }
    .pagination--wrapper a {
      margin-bottom: 3em;
      width: 100%;
    }
  }
  @media screen and (min-width: 1024px) {
    .pagination--wrapper {
      justify-content: space-between;
    }
  }
  .pagination--wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5rem 0;
    /* padding-bottom: 50px;
    padding-top: 100px;
    margin-top: 100px; */
    border-top: 1px solid rgba(170, 170, 170, 0.8);
  }
  .pagination--wrapper a {
    display: flex;
    align-items: flex-end;

    font-weight: bold;
  }
  .pagination--wrapper a.pagination--next::before {
    order: 2;
    margin-left: 1em;
    background-image: var(--nextImage);
  }
  .pagination--wrapper a.pagination--prev::before {
    margin-right: 1em;
    background-image: var(--prevImage);
  }
  .pagination--wrapper a.pagination--next {
    order: 1;
  }
  .pagination--wrapper a::before {
    content: "";
    display: block;
    height: 50px;
    width: 80px;
    background-color: #000;
    background-size: contain;
  }
  .pagination {
    &--wrapper {
      a {
        position: relative;
        small {
          position: absolute;
          top: -30px;
          font-weight: 300;
          text-transform: capitalize;
        }
      }
    }
    &--next {
      small {
        right: 0;
      }
    }
  }
</style>
<section id="slider" class="pagination--wrapper">
  {
    prevPostUrl ? (
      <a href={`${portfolioPrefix}/${prevPostUrl}`} class="pagination--prev">
        <small>{t("anterior")}</small>
        <div>{prevPostLabel}</div>
      </a>
    ) : (
      ""
    )
  }
  {
    nextPostUrl ? (
      <a
        href={`${portfolioPrefix}/${nextPostUrl}`}
        class="pagination--next"
      >
        <small>{t("proximo")}</small>
        {nextPostLabel}
      </a>
    ) : (
      ""
    )
  }
</section>
